* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131313;
  color: #f4f4f4;
  padding: 1rem;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  padding: 1rem
}

header ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.250rem;
}

.botao {
  display: none;
}

@media (max-width: 768px) {
  header ul{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: calc(50vh - 4rem);
    flex-direction: column;
    background-color: #131313;
    transition: .3s;
    align-items: center;
  }

  header.ativo ul {
    opacity: 1;
    top: 70px
  }

  .botao {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("https://img.icons8.com/material-outlined/48/ffffff/menu--v1.png");
  }

  header.ativo .botao {
    background-image: url("https://img.icons8.com/material-outlined/48/ffffff/multiply--v1.png");
  }
}